@import url("variables.css");

#datepickerContainer * {
    -fx-background-color: -bgColor1;
    -fx-border-color: -bgColor3;
    -fx-border-width: 1px;
    -fx-text-fill: -txtColor0;
}

#cContainer *{
    -fx-background-color: -bgColor1;
    -fx-border-color: -bgColor3;
    -fx-border-width: 1px;
    -fx-text-fill: -txtColor0;
}


#datepickerContainer .date-picker-popup {
    -fx-background-color: -bgColor2;
}

#datepickerContainer .date-picker-popup .month-year-pane {
    -fx-background-color: -bgColor3;
}

#datepickerContainer .date-picker-popup .date-cell {
    -fx-background-color: -bgColor2;
    -fx-text-fill: -txtColor0;
}

#datepickerContainer .date-picker-popup .date-cell:hover {
    -fx-background-color: -bgColor3;
}

#datepickerContainer .date-picker-popup .date-cell.selected {
    -fx-background-color: -bgColor0;
    -fx-text-fill: -txtColor0;
}

#datepickerContainer .date-picker-popup .spinner {
    -fx-background-color: -bgColor3;
}

#datepickerContainer .date-picker-popup .spinner .button:hover {
    -fx-background-color: -bgColor2;
}

.lightTheme #datepickerContainer * {
    -fx-background-color: -bgColor1;
    -fx-border-color: -bgColor3;
    -fx-text-fill: -txtColor0;
}

.lightTheme #datepickerContainer .date-picker-popup {
    -fx-background-color: -bgColor2;
}

.lightTheme #datepickerContainer .date-picker-popup .month-year-pane {
    -fx-background-color: -bgColor3;
}

.lightTheme #datepickerContainer .date-picker-popup .date-cell {
    -fx-background-color: -bgColor2;
    -fx-text-fill: -txtColor0;
}

.lightTheme #datepickerContainer .date-picker-popup .date-cell:hover {
    -fx-background-color: -bgColor3;
}

.lightTheme #datepickerContainer .date-picker-popup .date-cell.selected {
    -fx-background-color: -bgColor0;
    -fx-text-fill: -txtColor0;
}

.lightTheme #datepickerContainer .date-picker-popup .spinner {
    -fx-background-color: -bgColor3;
}

.lightTheme #datepickerContainer .date-picker-popup .spinner .button:hover {
    -fx-background-color: -bgColor2;
}
.table-view {
    -fx-border-color: -bgColor3;
    -fx-border-width: 1px;
}

/* Estilo para las filas del TableView */
.table-view .table-row-cell {
    -fx-background-color: -bgColor2;
    -fx-text-fill: -txtColor0;
}

/* Estilo para las celdas del TableView */
.table-view .table-cell {
    -fx-text-fill: -txtColor0;
    -fx-border-color: -bgColor3;
    -fx-border-width: 0 1px 1px 0;
}

/* Estilo para la fila seleccionada en el TableView */
.table-view .table-row-cell:selected {
    -fx-background-color: -bgColor1;
}

/* Estilo para la fila seleccionada en el TableView */
.table-view .table-row-cell:selected * {
    -fx-text-fill: -txtColor0;
}

/* Estilo para el encabezado del TableView */
.table-view .column-header {
    -fx-background-color: -bgColor1;
    -fx-text-fill: -txtColor0;
    -fx-font-weight: bold;
    -fx-border-width: 0 1px 1px 0;
}
