* {
    -bgColor0: #000000;
    -bgColor1: #222333;
    -bgColor2: #444555;
    -bgColor3: #666777;

    -txtColor0: #FFFFFF;
    -txtColor1: #000;
}

.lightTheme {
    -bgColor0: #FFFFFF;
    -bgColor1: #DDDEEE;
    -bgColor2: #BBBCCC;
    -bgColor3: #999AAA;

    -txtColor0: #000000;
    -txtColor1: #FFF;
}

